In [ ]:
c=int(input('enter the number'))

d=int(input('enter the number'))

print(c+d)

enter the number 25
enter the number 65

90

In [28]:
BY=int(input('Enter your birthyear: '))

age=2024-BY

print('Your age is ', age)

Enter your birthyear:  1996

Your age is  28

SyntaxError: unterminated string literal (detected at line 4) (800518668.py, line 4)

In [144]:
Marks=int(input('enter your marks: '))

if Marks<=35 and Marks>0:
    print('Sorry! You Failed')
elif Marks>35 and Marks<=50:
    print('Hurray! you passed.with grade C')
elif Marks>50 and Marks<=75:
    print('Hurray! you passed.with grade B')
elif Marks>75 and Marks<=90:
    print('Hurray! you passed.with grade A')
elif Marks>90 and Marks<=100:
    print('Hurry! you pased. with grade A++')
else:
    print('Enter the marks Between 1 to 100')

enter your marks:  55

Hurray! you passed.with grade B

In [306]:
print('1.sunday')
print('2.monday')
print('3.tuesday')
print('4.wednesday')
print('5.thursday')
print('6.friday')
print('7.saturday')
days=("-",'sunday','monday','tuesday','wednesday','thursday','friday','saturday')

daynum=int(input('enter the day number: '))

if daynum>0 and daynum<=7:
    print("It's " + days[daynum])
else:
    print('Enter the correct number')

1.sunday
2.monday
3.tuesday
4.wednesday
5.thursday
6.friday
7.saturday

enter the day number:  5

It's thursday

In [267]:
print('1.sunday')
print('2.monday')
print('3.tuesday')
print('4.wednesday')
print('5.thursday')
print('6.friday')
print('7.saturday')


English={'Sunday':'Domingo','Monday':'Lunes','Tuesday':'Martes','Wednesday':'Miercoles','Thursday':'Jueves','Friday':'Viernes','Saturday':'Sabado'}

weekday=input('Enter the weekday to transfer in spanish: ')
if weekday in English:
    print('English - '+ weekday)
    print('Spanish - '+ English[weekday])
else:
    print('Invalid input')

1.sunday
2.monday
3.tuesday
4.wednesday
5.thursday
6.friday
7.saturday

Enter the weekday to transfer in spanish:  Saturday

English - Saturday
Spanish - Sabado

In [294]:
num1=10
num2=13


while num2>num1:
    print('karthik')
    num1=num1+1

karthik
karthik
karthik

In [396]:
num1=0
list1=[]
while num1<10:
    value=int(input('Enter a number: '))
    list1.append(value)
    num1=num1+1
print(max(list1))

Enter a number:  10
Enter a number:  10
Enter a number:  101
Enter a number:  10
Enter a number:  10
Enter a number:  10
Enter a number:  10
Enter a number:  10
Enter a number:  10
Enter a number:  10

101

In [414]:
num1=0
list1=[]

while num1<5:
    value=int(input('enter the nuber'))
    list1.append(value)
    num1=num1+1
print(list1)
print(sum(list1))

enter the nuber 10
enter the nuber 22
enter the nuber 33
enter the nuber 44
enter the nuber 55

[10, 22, 33, 44, 55]
164

In [384]:
range(10)

range(0, 10)

In [402]:
range(1,10)

range(1, 10)

In [416]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [424]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [422]:
list(range(1, 11, 2))

[1, 3, 5, 7, 9]

In [426]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [410]:
del list

In [434]:
list(range(0,-10,-1))

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [436]:
for kar in range(10):
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [491]:
numbers=[]

for num1 in range(5):
    num1=int(input('enter the number'))
    numbers.append(num1)

enter the number 10
enter the number 10
enter the number 140
enter the number 10
enter the number 140

In [493]:
numbers

[10, 10, 140, 10, 140]

In [464]:
number10=range(1,21)

In [466]:
list(number10)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [505]:
even=[]
odd=[]

for value in number10:
    if value % 2==0:
        even.append(value)
    else:
        odd.append(value)

In [507]:
print(even)
print(odd)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [509]:
chary=range(20,41)

In [517]:
list(chary)

[20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40]

In [519]:
kar=[]
char=[]

for value in chary:
    if value%2==0:
        kar.append(value)
    else:
        char.append(value)

In [521]:
print(kar)

[20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [523]:
print(char)

[21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [527]:
for val in range(10):
    print('karthik')

karthik
karthik
karthik
karthik
karthik
karthik
karthik
karthik
karthik
karthik

In [534]:
kar=0

while kar<5:
    print('hello chary')
    kar=kar+1

hello chary
hello chary
hello chary
hello chary
hello chary

In [3]:
num1=[]

for val in range(5):
    val=int(input('enter the numbers'))
    num1.append(val)

enter the numbers 10
enter the numbers 10
enter the numbers 10
enter the numbers 10
enter the numbers 12

In [5]:
num1

[10, 10, 10, 10, 12]